<div>
    <h1>User Details</h1>
    <button class="btn btn-primary mr-sm-2" routerLink="../UserCreate">Add New User</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">First Name</th>
                <th scope="col">Last Name</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let users of users; trackBy: users.id">
                
                <td scope="row">{{ users.id }}</td>
                <td>{{ users.firstname }}</td>
                <td>{{ users.lastname }}</td>
                <td>{{ users.email }}</td>            
                <td>
                    <button class="btn btn-outline-primary" routerLink="../UserUpdate">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>