<div>
    <h1>Project Details</h1>
    <button class="btn btn-primary mr-sm-2" routerLink="../ProjectCreate">Add Project</button>

    <table class="table table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Projects</th>
                <th scope="col">Details</th>
                <th scope="col">CreatedOn</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let projects of projects;">             
                <td scope="row">ID</td>
                <td>{{ projects.projectname  }}</td>
                <td>{{ projects.detail  }}</td> 
                <td>{{ projects.createdOn | date :'dd/MM/yyyy' }}         
                <td>
                    <button class="btn btn-outline-primary" routerLink="../ProjectUpdate">Update</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>